.profiles{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .profiles__profile{
        border: solid 2px var(--color-fg);
        width: 15rem;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        gap: 2rem;
        .profiles__avatar{
            height: 2rem;
            width: 2rem;
        }
    }
    .profiles__profile:hover{
        scale: 1.1;
    }
}