.movies{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 30rem));
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    .movies__error{
        font-size: 2rem;
        font-weight: 900;
        color: red;
        text-align: center;
    }
    .movie{
        position: relative;
        width: 100%;
        aspect-ratio: 7/9;
        overflow: hidden;
        margin: auto;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 2px var(--color-white);
        .movie__cover{
            width: 100%;
            object-fit: contain;
            object-position: top;
        }
        .movie__title{
            position: absolute;
            font-size: 1rem;
            bottom: 0;
            padding: 1rem;
            color: var(--color-white);
            font-size: 1.5rem;
        }
    }
}
