.movies {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: .5rem;
    scroll-snap-type:x mandatory;
    scrollbar-color: var(--color-white) transparent;
    padding: 1rem;

    .movies__error {
        font-size: 2rem;
        font-weight: 900;
        margin: auto;
        color: red;
        text-align: center;
        width: 100%;
    }
    .movie {
        scroll-snap-align: start; 
        position: relative;
        flex: 0 0 10rem; 
        aspect-ratio: 7/11;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;

        .movie__cover {
            width: 100%;
            height: 100%;
            object-fit: cover; 
            object-position: center;
        }

        .movie__infos {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 10rem 1rem 1rem 1rem;
            color: var(--color-white);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0));
            .movie__title{
                font-size: 1rem;
            }
            .movie_note{
                font-size: .8rem;
            }
        }
        &:hover{
            scale: 1.05;
        }
    @media (min-width : 55em){
        flex: 0 0 20rem; 
    }
    }
}

.moviesHighligh {
    .movies {
        gap: 0;
        .movie {
            flex: 0 0 100%;
            aspect-ratio: 16/9;
            border-radius: 0;
        &:hover{
            scale: 1;
        }
            @media (min-width: 55em) {
                aspect-ratio: 25/9;
                .movie__infos {
                    font-size: 1.5rem;
                }
                .movie__title{
                    font-size: 1.5rem;
                }
                .movie_note{
                    font-size: 1.5rem;
                }
            }
            .movie__cover {
                object-position: center 25%;
            }
        }
    }
}
