.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  .navbar__list {
    display: flex;
  }
  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
  .navbar__container{
    position: relative;
    .navbar__label {
      display: inline-flex;
      margin: 1em auto;
      padding: 1rem;
      color :var(--color-fg);
      border: solid 2px var(--color-fg);
      border-radius: 100% ;
      cursor: pointer;
      user-select: none;
      .navbar__avatar{
        height: 2rem;
        width: 2rem;
      }
    }
    .navbar__logOut {
      display: none;
      overflow: visible;
      background-color: var(--fg);
      color: var(--bg);
      border: solid 1px var(--color-fg);
    }
  
    input[type="checkbox"] {
      display: none;
      &:checked + .navbar__label {
        opacity: 0.5;
        background-color: red;
      }
  
      &:checked ~ .navbar__logOut {
        cursor: pointer;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: max-content;
        padding: 1rem;
        background-color: var(--color-bg);
        overflow-y: auto;
        top: 100%;
        right: 0;
        z-index: 100;
        color: var(--color-fg);
      }
    }
  }
}
