<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <a class="navbar__item" href="../statistiques/index.html">Statistiques</a>
  </ul>
  <input class="navbar__searchbar" type="search" name="search" placeholder="Chercher un film ou une catégories" onkeyup="{{handlerSearch}}" onsearch="{{handlerSearch}}">
  <ul class="navbar__list">
    <li class="navbar__item navbar__link" onclick="{{handlerLogOut}}">Déconnexion</li>
      <li class="navbar__item dropdown">
          <button class="dropdown__btn" onclick="{{handlerDropdown}}">{{name}} <img class="btn__img" src="{{avatar}}" alt=""></button>
          
          <ul class="dropdown__content">
              {{profiles}}
          </ul>
      </li>
  </ul>

</nav>
