
@import url("https://use.typekit.net/fwy8tai.css");
:root {
  /* Primitive Tokens */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #A5B99C;
  --color-orange: #FF8200;
  --color-gray-light: #959595;
  --color-gray: #1C1C1E;
  --color-gray-dark: #121214;
  --ff-sans: "futura-pt", Arial, sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  --color-bg2: var(--color-gray-dark);
  --color-bg3: var(--color-gray);
  --color-hover: var(--color-gray-light);
  --color-accent: var(--color-green);
  --color-accent2: var(--color-orange);
}
